.leftBar {
    background: #1da1f2;
    height: 95vh;
    position: relative;
    /*height: 100% !important;*/
}

.contentLeft {
    position: absolute;
    left: 30%;
    top: 35%;
}

.contentLeft .inline {
    float: left;
}

.contentLeft .inline span {
    font-size: 25px;
}

.formLogin .inline {
    float: left;
    padding-left: 5%;
    padding-top: 8px;

}

.formLogin .inline2 {
    float: left;
    padding-left: 5%;
}

.formLogin .inline2 a {
    font-size: 12px;
    text-decoration: none;
}

.formLogin .inline3 {
    float: left;
    padding-left: 5%;
    padding-top: 4%;
}

.formLogin .inline3 button {
    border-radius: 50%;
}

.rightLogin {
    position: relative;
    height: 100%;
}

.rightLogin .blockFromLogin {
    position: absolute;
    top: 1%;
    width: 100%;
}

.rightLogin .blockContent {
    position: absolute;
    top: 30%;
    left: 15%;
}

.rightLogin .clockSignUp {
    position: absolute;
    top: 50%;
    left: 15%;
}

.rightLogin .fa-twitter{
    font-size: 55px;
    color: #1da1f2;
}

.blockContent h1{
    font-size: 27px;
}

.leftBar i{
    font-size: 22px;
}