.appbar {
  position: fixed !important;
  top: 0;
}

.flexgrow {
  flex-grow: 1;
}

.search {
  width: 350px;
  height: 35px;
}

.page-button {
  background: transparent;
  font-size: 15px !important;
}
