.profile-card {
    border-radius: 2px !important;
    margin: 40px 30px 30px 0px;
}

.profile-card-header {
    padding: 20px !important;
}

button.edit-profile-button{
  -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    display: inline-block;
    cursor: pointer;
    padding: 12px 18px;
    font-size: 12px;
    text-decoration: none;
  margin-left: 160px;
}

button.edit{
  -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    display: inline-block;
    cursor: pointer;
    padding: 2px 3px;
    font-size: 8px;
    text-decoration: none;
    margin-left: 10px;
}

.profile-card-title {
    padding-top: 0 !important;
    padding-bottom: 8px;
}

.profile-name {
    font-size: 24px;
    float: left;
}

.profile-about {
    font-size: 16px;
}

.profile-avatar {
    width: 50px !important;
    height: 50px !important;
}

.profile-item {
    font-size: 16px !important;
}

.profile-info {
    color: #DB969A !important;
}

.profile-num-avatar {
    margin: 1px;
    background-color: #4AB3F4 !important;
}

.linkFollowers{
    text-decoration: none;
}

.linkFollowing{
    text-decoration: none;
}